:root {
    --primary-color: #00bac7;
    --hover-bg-color: #2a2a3c;
    --text-color: #c2c2dc;
    --active-bg-color: #3e3e3e;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #1d1d2b;
    color: var(--text-color);
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
}

.sidebar .nav-link {
    color: var(--text-color);
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: var(--hover-bg-color);
    color: #fff;
}

.main-content {
    margin-left: 250px; /* Sidebar width */
    padding: 1.5rem;
}