:root {
    --primary-color: #00bac7;
    --hover-bg-color: #2a2a3c;
    --text-color: #c2c2dc;
    --active-bg-color: #3e3e3e;
    --background-color: #f8f9fa; /* Cor de fundo mais clara */
}

body {
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #1d1d2b;
    color: var(--text-color);
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
}

.sidebar .nav-link {
    color: var(--text-color);
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: var(--hover-bg-color);
    color: #fff;
}

.main-content {
    margin-left: 250px;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
    text-align: center;
}

.dashboard-widgets .card {
    border-radius: 0.75rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.dashboard-widgets .card:hover {
    transform: translateY(-5px);
}

.dashboard-widgets .card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.dashboard-widgets .card .card-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-header {
    border-bottom: 0;
    border-radius: 0.75rem 0.75rem 0 0;
}

.card-body {
    border-radius: 0 0 0.75rem 0.75rem;
}
