{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-4">{% if form.instance.pk %}Editar Usuário{% else %}Cadastro de Usuário{% endif %}</h2>
  <div class="card">
    <div class="card-header bg-primary text-white">
      {% if form.instance.pk %}
        Preencha os dados para atualizar o usuário
      {% else %}
        Preencha os dados para criar um novo usuário
      {% endif %}
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Nome de Usuário</label>
          {{ form.username|add_class:"form-control" }}
          {{ form.username.errors }}
        </div>
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email</label>
          {{ form.email|add_class:"form-control" }}
          {{ form.email.errors }}
        </div>
        <div class="form-group">
          <label for="{{ form.role.id_for_label }}">Tipo de Usuário</label>
          {{ form.role|add_class:"form-control" }}
          {{ form.role.errors }}
        </div>
        <div class="form-group">
          <label for="{{ form.restaurante.id_for_label }}">Restaurante (para Standard/Master)</label>
          {{ form.restaurante|add_class:"form-control" }}
          {{ form.restaurante.errors }}
        </div>
        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">Nova Senha</label>
          {{ form.password1|add_class:"form-control" }}
          {{ form.password1.errors }}
        </div>
        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">Confirme a Nova Senha</label>
          {{ form.password2|add_class:"form-control" }}
          {{ form.password2.errors }}
        </div>
        <button type="submit" class="btn btn-success">{% if form.instance.pk %}Atualizar Usuário{% else %}Cadastrar Usuário{% endif %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
